.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
  width: 2px;
}





/* alert style */
/* Success Alert Style */
.s-alert.success {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  border: 1px solid #45a049; /* Darker green border */
}

/* Error Alert Style */
.s-alert.error {
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  border: 1px solid #d32f2f; /* Darker red border */
}

/* Container for Alert Messages */
.s-alert-box {
  width: 300px; /* Adjust the width to your preference */
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; /* Ensure alerts appear on top of other content */
}


